<a href="https://colab.research.google.com/github/ggwnsghgg/FastCampus/blob/master/TF_IDF2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. 컨텐츠기반 추천시스템
2. 컨텐츠를 활용할 수 있는지
3. 어떻게 컨텐츠들이 서로 연관이 있는지 평가하는 방법
4. 근접이웃기반 컨텐츠기반 추천시스템 -> k-nearest neighbor
5. naive bayes classifer -> 베이즈 추천시스템
6. TF-IDF 개념설명 그리고 실습

추천시스템 성능 평가 -> RMSE

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import os
import pandas as pd
import numpy as np
from tqdm import tqdm


from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [5]:

path = '/content/drive/MyDrive/data/movielens'


ratings_df = pd.read_csv(os.path.join(path, 'ratings.csv'), encoding='utf-8')
movies_df = pd.read_csv(os.path.join(path, 'movies.csv'), index_col='movieId', encoding='utf-8')
tags_df = pd.read_csv(os.path.join(path, 'tags.csv'), encoding='utf-8')

In [ ]:
book_df

          id  ...    genre
0          1  ...  추리/미스터리
1          2  ...  추리/미스터리
2          3  ...  추리/미스터리
3          5  ...  추리/미스터리
4          6  ...  추리/미스터리
...      ...  ...      ...
77128  79771  ...      로맨스
77129  79772  ...      로맨스
77130  79773  ...      로맨스
77131  79774  ...      로맨스
77132  79775  ...      로맨스

[77133 rows x 11 columns]

In [6]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [7]:
movies_df.head()

                                      title                                       genres
movieId
1                          Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy
2                            Jumanji (1995)                   Adventure|Children|Fantasy
3                   Grumpier Old Men (1995)                               Comedy|Romance
4                  Waiting to Exhale (1995)                         Comedy|Drama|Romance
5        Father of the Bride Part II (1995)                                       Comedy

In [8]:
tags_df.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

In [9]:
total_count = len(movies_df.index)
total_genres = list(set([genre for sublist in list(map(lambda x: x.split('|'), movies_df['genres'])) for genre in sublist]))

In [11]:
print(f"전체 영화 수: {total_count}")
print(f"장르: {total_genres}")

전체 영화 수: 9742
장르: ['Romance', '(no genres listed)', 'Mystery', 'War', 'Animation', 'Drama', 'Sci-Fi', 'Western', 'Children', 'Crime', 'Comedy', 'Adventure', 'Horror', 'IMAX', 'Film-Noir', 'Documentary', 'Thriller', 'Action', 'Musical', 'Fantasy']

In [12]:

print(len(total_genres))

20

In [13]:
genre_count = dict.fromkeys(total_genres)

for each_genre_list in movies_df['genres']:
    for genre in each_genre_list.split('|'):
        if genre_count[genre] == None:
            genre_count[genre] = 1
        else:
            genre_count[genre] = genre_count[genre]+1